   body {
    color: azure;
    background: black;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0PX;
    margin-bottom: 100px;
}


.chamada{
    background: rgb(255, 238, 2);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}